$c-background: var(--c-background);
$c-foreground: var(--c-foreground);
$c-medium: var(--c-medium);
$c-light: var(--c-light);

$font-mono: 'Courier New', Courier, monospace;

$c-white: #ffffff;

$c-neutral-grey-900: #141c24;
$c-neutral-grey-800: #202b37;
$c-neutral-grey-700: #344051;
$c-neutral-grey-600: #414e62;
$c-neutral-grey-500: #637083;
$c-neutral-grey-400: #97a1af;
$c-neutral-grey-300: #ced2da;
$c-neutral-grey-200: #e4e7ec;
$c-neutral-grey-100: #f2f4f7;
$c-neutral-grey-050: #f9fafb;

$c-primary-900: #664400;
$c-primary-800: #996600;
$c-primary-700: #cc8800;
$c-primary-600: #f5a300;
$c-primary-500: #ffb21a;
$c-primary-400: #ffc34c;
$c-primary-300: #ffd480;
$c-primary-200: #ffdd99;
$c-primary-100: #ffeecc;
$c-primary-050: #fff9eb;

$c-success-900: #194d33;
$c-success-800: #26734c;
$c-success-700: #309161;
$c-success-600: #39ac73;
$c-success-500: #40bf7f;
$c-success-400: #79d2a6;
$c-success-300: #9fdfbf;
$c-success-200: #b3e5cc;
$c-success-100: #d9f2e5;
$c-success-050: #ecf9f2;

$shadow-light-xs: 0px 1px 2px rgba(28, 39, 49, 0.08);
$shadow-light-s: 0px 2px 6px rgba(28, 39, 49, 0.08);

$border-radius-m: 12px;
