.column {
	line-height: 10px;
	writing-mode: vertical-lr;
	text-orientation: upright;

	&[data-selected='true'],
	&[data-ghost-selected='true'] {
		color: $c-background;
		background-color: $c-foreground;
	}

	&:hover {
		background-color: $c-medium;
		cursor: pointer;
	}
}
