.tablature {
	padding: 1rem;
	margin-block: 2rem;
	padding-inline: 0.5rem;
	user-select: none;
}

.section {
	padding: 0.5rem 0.75rem 0.5rem 0.75rem;
	background-color: $c-neutral-grey-050;
	border-radius: $border-radius-m;
	margin-block: 0.75rem;
	box-shadow: $shadow-light-s;

	h2 {
		font-size: large;
		font-weight: 400;
	}

	& .columns-container {
		display: flex;
		flex-wrap: wrap;
		row-gap: 24px;
		padding: 0.25rem;
		font-family: $font-mono;
		font-size: small;
	}
}

.column {
	display: block;
	position: relative;
	padding-bottom: 6px;
	letter-spacing: 2px;
	font-family: 'Courier New', Courier, monospace;
	line-height: 11px;
	box-sizing: content-box;

	&[data-selected='true']::after,
	&[data-ghost-selected='true']::after {
		background-color: $c-primary-600;
	}

	&[data-selected='true'] {
		background: linear-gradient(0deg, $c-success-100 60%, transparent);
	}

	&[data-ghost-selected='true'] {
		background-color: $c-neutral-grey-200;
	}

	&:active {
		background-color: $c-neutral-grey-200;
		outline: 1px dashed $c-primary-400;
	}

	&:hover {
		background-color: $c-neutral-grey-200;
		cursor: pointer;
	}

	&::after {
		position: absolute;
		bottom: 0;
		left: 1px;
		width: calc(100% - 2px);
		height: 3px;
		background-color: $c-neutral-grey-400;
		content: '';
	}

	&.tuning {
		&::after {
			display: none;
		}

		&:hover {
			background: none;
			cursor: auto;
		}
	}
}
